html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
}

button {
    max-width: 200px;
}

.stockBox {
    display: flex;
    flex-flow: row wrap;
    gap: 0.2rem;
    width: 100%;
    margin-top: 3rem;
    margin-left: 0.8rem;
}

.formContainer {
    display: flex;
    width: 100%;
    text-align: center;
    vertical-align: central;
    gap: 1rem;
    flex-direction: column;
    padding: 3rem 0;
}
